<!DOCTYPE html>
<html>

<head>
    <style>
        .footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            background-color: #5872a7;
            width: 100%;
            text-align: center;
            color: white;
            font-family: "Afacad Flux", system-ui;
            margin-top: 30px;
        }

        .footer-warning {
            font-weight: bold;
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <div class="footer">
        <p class="footer-warning">⚠️ This is a class project for CS 3240 ⚠️</p>
        <p>This system is not monitored. Please do not submit any real or sensitive information.</p>
    </div>
</body>

</html>